/*
 * 由::before生成的伪元素 包含在元素格式框内, 因此不能应用在替换元素上,比如<img>或<br> 元素。
 * 所以将.block应用 relative, 使相对于.block 定位。
*/

.narcissu p, .narcissu .block, .narcissu ul, .narcissu h1, .narcissu h2, .narcissu h3, .narcissu h4, .narcissu h5, .narcissu h6, .narcissu pre {
  position: relative;
}

.block {
  margin-top: 1em;
  margin-bottom: 1em;
}

.narcissu h1 {
  font-size: 2.4em;
  padding-bottom: 1em;
  border-bottom: 3px double #8ac6d1;
}
.narcissu h2 {
  font-size: 1.8em;
}
.narcissu h3 {
  font-size: 1.6em;
}
.narcissu h4 {
  font-size: 1.4em;
}
.narcissu h5, .narcissu h6 {
  font-size: 1.2em;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

pre {
  border: 1px solid #8ac6d1;
  padding: 1em 0.5em;
}

.tip::before {
  content: attr(data-tip);
  position: absolute;
  top: 0;
  left: -50px;
  width: 25px;
  border: 1px #aaaaaa solid;
  border-radius: 5px;
  background-color: #ffffcc;
  padding: 5px;
  margin-top: -5px;
  color: #000000;
  text-align: center;
  font-size: 14px;
  z-index: 1;
}

.tipHr::before {
  top: -10px;
}

.tipH1::before {
  top: 16px;
}

.tipH2::before {
  top: 9px;
}

.tipH3::before {
  top: 6px;
}

.tipH4::before {
  top: 5px;
}

.tipCode::before {
  top: 10px;
}
