.side {
  user-select: none;
}

.side .content {
  height: calc(100vh - 50px);
  overflow: auto;
}

.side .title {
  display: flex;
  height: 50px;
}

.side .title .selected {
  border-bottom: solid 5px #ab7d97;
}

.title span{
  flex: 1;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
