html,
input,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.4;
  background: #eee;
}

body {
  margin: 0;
}
